1 What are data structures, and why are they important3

Data structures are ways to organize and store data in a computer so it can be accessed and modified efficiently. They're important because they help manage large amounts of data and enable efficient algorithms.

2. Explain the difference between mutable and immutable data types with examples.

Mutable: Can be changed after creation (e.g., list, dict, set)
Example:

Immutable: Cannot be changed after creation (e.g., int, str, tuple)
Example:

3. What are the main differences between lists and tuples in Python?

- List is mutable, dynamic, and slower due to flexibility.

- Tuple is immutable, fixed, and faster because it's read-only.

Use lists when data may change, and tuples when data must remain constant.

4. Describe how dictionaries store data.

Dictionaries store data as key-value pairs using a hash table internally. Keys must be unique and hashable, and values can be of any type.

5. Why might you use a set instead of a list in Python?

- Sets automatically remove duplicate values

- Faster membership testing (in)

- useful for mathematical operations like union, intersection

6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters and is immutable. A list is a sequence of elements that can be changed.

In [7]:
s = "hello"
l = ['h', 'e']

7. How do tuples ensure data integrity in Python?

Tuples are immutable, which means their contents can't be changed after creation. This protects data from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?

Yes. A list can contain mixed data types:

10. Explain why strings are immutable in Python.

Strings are immutable for:

- Performance reasons

- Thread safety

- Reusability (interning)

Once created, their content cannot be changed.

11. What advantages do dictionaries offer over lists for certain tasks?

- Faster lookups by key (O(1) vs O(n))

- More structured data storage

- Better for mapping relationships

12. Describe a scenario where using a tuple would be preferable over a list.

- If you need to store fixed data like coordinates or database records that shouldn’t change, use a tuple.

Example:

In [8]:
coordinates = (28.7041, 77.1025)

13. How do sets handle duplicate values in Python?

- Sets automatically eliminate duplicates.

Example:

In [10]:
s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

- In a list, it checks if a value is present.

- In a dictionary, it checks if a key exists.

In [11]:
3 in [1, 2, 3]
'name' in {'name': 'Raj'}

True

15. Can you modify the elements of a tuple? Explain why or why not.

- No. Tuples are immutable, so once created, their content cannot be changed. This ensures data consistency.

16. What is a nested dictionary, and give an example of its use case.

- A nested dictionary is a dictionary where values are also dictionaries.
Use case: Managing hierarchical or complex data.

 Example:

In [15]:
students = {
  "001": {"name": "Anu", "age": 21},
  "002": {"name": "Rahul", "age": 22}}

17. Describe the time complexity of accessing elements in a dictionary.

- Average case: O(1), due to hashing

- Worst case: O(n), if there are many hash collisions (rare)

18. In what situations are lists preferred over dictionaries?

- Use lists when:

You need to maintain order

You're storing simple sequences

You rely on index-based access or slicin

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Until Python 3.7, dictionaries didn't preserve insertion order. Even now, they’re meant for key-based access, not for sequential order like lists.
You cannot retrieve items by position like dict[0].

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- List: Access elements by index (e.g., list[0])

Dictionary: Access elements by key (e.g., dict['name'])
Dictionaries are faster for lookups by key and more expressive when data is labeled.

Practical Questions

1. Write a code to create a string with your name and print it

In [16]:
name = "Rohitraj"
print(name)

Rohitraj

2. Write a code to find the length of the string "Hello World

In [17]:
s = "Hello World"
print(len(s))

11

3. Write a code to slice the first 3 characters from the string "Python Programming

In [18]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [19]:
s = "I like apple"
s = s.replace("apple", "orange")
print(s)

I like orange

5. Write a code to replace the word "apple" with "orange" in the string "I like apple

In [20]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

6. Write a code to create a list with numbers 1 to 5 and print it

In [21]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3,4]

In [22]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [23]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [24]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

10 Write a code to reverse the list [10, 20, 30, 40, 50]

In [25]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [26]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [27]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [28]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [29]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [30]:
fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [31]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [32]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [33]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [34]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [35]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [36]:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [37]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [38]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [40]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [42]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [43]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'key1': 'value1', 'key2': 'value2'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'key1': 'value1', 'key2': 'value2'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [44]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[15, 23, 36, 57, 62]

28. Write a code to create a list with strings and print the element at the third index

In [45]:
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])  # Output: date

date

29. Write a code to combine two dictionaries into one and print the result.

In [46]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [47]:
string_list = ['apple', 'banana', 'cherry']
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry'}